#title {
    margin-top: 10cm;     /* Added a margin to the title */
    margin-left: 100px;
    margin-bottom: 1in;;
}

.date {
    background-color: rgb(141, 228, 235);
    margin: 10px 20px 30px 40px;
    display: block;
}

* {
    background-color: cornsilk;
    margin: auto;
}

p {
    padding: 10em 10ex 10rem 10px;
}

video {
    padding-left: 50px;
}

p[target=t1] {
    border-style: dashed;
    border-color: darkgreen;
    border-width: 4px;
    border-radius: 5px;
}

p::after {
    content: "  Ok. Goodbye.";
}

h1, h2 {
    color:rgb(15, 68, 71);
    text-decoration: underline;
    text-align: center;
    display: inline-block;
}

.reina {
    max-width: 1000px;
    max-height: 1000px;
    position: relative;
}

nav a {
    position: static;
}

button:hover {
    color: sienna;
}

button:active {
    color: red;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 2;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 200px 300px 400px;
    justify-items: start;
    justify-content: end;
}

@media only screen and (max-width: 1000px) {
    ol > li {
      color: rgb(196, 123, 14);
    }
}

h2 ~ p {
    text-decoration: underline;
}

h2 + p {
    font-family: 'Zen Dots', cursive;
}

p.desc {
    color:slateblue;
}